{
    "extends": "eslint:recommended",
    "env": {
        "node": true
    },
    "parserOptions": {
        "ecmaVersion": 8,
        "sourceType": "module",
        "ecmaFeatures": {
        }
    },
    "rules": {
        "semi": 2
    },
    "globals": {
        "Map": true,
        "Promise": true,
        "Symbol": true
    }
}